.admin-container {
  padding: 2rem;
  background-color: #F3F3F3;
  margin: 80px 10px;
  border-radius: 2.5rem;
}

.admin-title {
  font-size: 26px;
  margin-bottom: 1.5rem;
  text-align: center;
}

.admin-input {
  background-color: white;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
  font-size: 0.7rem;
}

.admin-table th,
.admin-table td {
  border: 1px solid #D9D9D9;
  padding: 0.2rem;
  max-width: 80px;
  text-align: left;
  word-wrap: break-word;
  background-color: white;
}

.admin-table th {
  background-color: #ecf0f1;
  color: #2c3e50;
}

.editar {
  background-color: #ffc107;
  color: white;
  margin-left: 5px;
  padding: 6px 12px;
  border-radius: 10px;
  width: 100%;
}

.editar:hover {
  background-color: #b98b01;
}

.eliminar {
  background-color: #dc3545;
  color: white;
  margin-left: 5px;
  padding: 6px 12px;
  border-radius: 10px;
  width: 100%;
}

.eliminar:hover {
  background-color: #991c28;
}

.guardar {
  background-color: #28a745;
  color: white;
  margin-left: 5px;
  padding: 6px 12px;
  border-radius: 10px;
  width: 100%;
}

.guardar:hover {
  background-color: #26833b;
}

.crear {
  background-color: #007bff;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 20px;
  width: 100%;
}

.crear:hover {
  background-color: #0f57a5;
}

.admin-form {
  margin: 10px;
}

.password-wrapper {
  position: relative;
  display: flex;
}

.eye-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
  cursor: pointer;
}

.cancelar {
  background-color: #dc3545;
  color: white;
  margin-left: 5px;
  padding: 6px 12px;
  border-radius: 10px;
  width: 100%;
}

.cancelar:hover {
  background-color: #991c28;
}

.volver {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 8px 15px;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 5px;
}

@media only screen and (min-width: 768px) {
  .admin-container {
    max-width: 500px;
    margin: 80px auto;
  }
  .admin-form {
    max-width: 400px;
    margin: auto;
  }
  .editar, .eliminar, .cancelar, .guardar {
    width: 95%;
  }
}

@media only screen and (min-width: 992px) {
  .admin-container {
    max-width: 600px;
  }
  .admin-form {
    max-width: 500px;
  }
  .admin-table {
    font-size: 1rem;
  }
  .admin-table th,
  .admin-table td {
    padding: 1rem;
    max-width: unset;
  }
}

@media only screen and (min-width: 1200px) {
  .admin-container {
    max-width: 750px;
  }
  .admin-form {
    max-width: 600px;
  }
  .admin-table th,
  .admin-table td {
    word-wrap: normal;
  }
  .editar, .eliminar {
    width: 46%;
  }
}
