.auditor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
  }
  
  /* Estilos para el título */
  .auditor-container h2 {
    font-size: 26px;
    color: #2c3e50;
    margin-bottom: 15px;
    text-align: center;
  }
  
  /* Estilos para el párrafo */
  .auditor-container p {
    font-size: 18px;
    color: #34495e;
    text-align: center;
    max-width: 600px;
    line-height: 1.5;
  }

  /* Estilos para el botón */
  .auditor-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.auditor-button:hover {
  background-color: #0056b3;
}
